.slimScrollDiv{
    position: relative;
    overflow: hidden;
    width: auto;
    height: 330px;
}

.slimScrollDiv:hover{
    overflow: scroll;
    overflow-x: hidden;
}
/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  position: relative;
}

:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: all 0.3s ease;
}

::selection {
  background-color: #695cfe;;
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: white;
  transition: all 0.3s ease;
  z-index: 9999;
}
.sidebar.closes {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: #707070;
  transition: all 0.3s ease;
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.closes .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: #695cfe;;
  color:  #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

body.dark .sidebar header .toggle {
  color: #707070;
}

.sidebar.closes .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: #f6f5ff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: #f6f5ff;
  color: #707070;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sidebar li a:hover {
  background-color: #695cfe;
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color:#fff;
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: #707070;
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: #f6f5ff;
  position: relative;
  transition: all 0.3s ease;
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color:  #ddd;
  transition: all 0.05s ease;
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color:  #242526;
  transition: all 0.05s ease;
}

body.dark .switch::before {
  left: 20px;
}

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: all 0.05s ease;
}
.home .text {
  font-size: 30px;
  font-weight: 500;
  color: #707070;
  padding: 12px 60px;
}
.dash_header {
  width: 100%;
  display: flex;
  padding: 20px 30px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7e7e7;
  position: fixed;
  z-index: 999;
  background: #ebeff2;
}
.dash_header .left_side {
  gap: 7px;
  display: flex;
  align-items: center;
  margin-left: 240px;
}
.dash_header .left_side_close{
  gap: 7px;
  display: flex;
  align-items: center;
  margin-left: 90px;
}
.dash_header .left_side button {
  display: flex;
  align-items: center;
  border: 1px solid var(--light-color);
  background-color: var(--light-color);
  color: var(--text-color);
  border-radius: 50%;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  box-shadow: 0 2px 2px 0 rgb(153 153 153 / 14%), 0 3px 1px -2px rgb(153 153 153 / 20%), 0 1px 5px 0 rgb(153 153 153 / 12%) !important;
}
.dash_header .left_side h4 {
  color: #695cfe;
  font-size: 30px;
  font-weight: bold;
  font-family: 'simple-line-icons';
}
.dash_header .right_side {
  gap: 25px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.dash_header .right_side .btn_list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.dash_header .right_side .btn_list .btn {
  border: none;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 35px;
  font-size: 1.2rem;
  padding: 10px;
  width: auto;
}
.dash_header .dropdown-menu {
  text-align: center;
  background-color: #f5f5f5;
  background-clip: unset;
  border: none;
  border-radius: 3px;
  color: #555;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
  right: auto;
  left: auto;
  margin-right: 50px;
}
.dash_header .right_side .btn_list .btn {
  border: none;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 35px;
  font-size: 2.3rem;
  padding: 10px;
  width: auto;
}

.dash_header button:hover {
  color: #f5f5f5 !important;
  background-color: #695cfe !important;
  border-color: #695cfe !important;
}


.notification-ui a:after {
  display: none;
}

.notification-ui_icon {
  position: relative;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(129, 100, 100);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.notification-ui_icon .unread-notification {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 7px;
  background-color: #66BB6A;
  position: absolute;
  top: 7px;
  left: 12px;
}
.notification-ui_dd{
  min-width: 21.5rem !important;
}

@media (min-width: 900px) {
  .notification-ui_icon .unread-notification {
      left: 20px;
  }
}

.notification-ui_dd {
  padding: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16);
  border: 0;
  max-width: 400px;
}

@media (min-width: 900px) {
  .notification-ui_dd {
      min-width: 400px;
      position: absolute;
      top: 70px;
  }
}

.notification-ui_dd:after {
  content: "";
  position: absolute;
  top: -30px;
  left: calc(50% - 7px);
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
  border-left: 15px solid transparent;
}

.notification-ui_dd .notification-ui_dd-header {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.notification-ui_dd .notification-ui_dd-header h3 {
  margin-bottom: 0;
}

.notification-ui_dd .notification-ui_dd-content {
  max-height: 500px;
  overflow: auto;
}

.notification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0 25px;
  border-bottom: 1px solid #ddd;
}

.notification-list--unread {
  position: relative;
}

.notification-list--unread:before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  height: calc(100% + 1px);
  border-left: 2px solid #29B6F6;
}

.notification-list .notification-list_img img {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  margin-right: 20px;
}

.notification-list .notification-list_detail p {
  margin-bottom: 5px;
  line-height: 1.2;
}

.notification-list .notification-list_feature-img img {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  margin-left: 20px;
}
