   <!-- Begin page -->
   <div id="wrapper">



    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->                      
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">CVs</h4>
                        <ol class="breadcrumb">
                            <li>
                                <a href="#">Ubold</a>
                            </li>
                            <li class="active">
                                CVs
                            </li>
                        </ol>
                    </div>
                </div>

                <!-- SECTION FILTER
                ================================================== -->
                <div class="row m-t-10 m-b-10">

                    <div class="col-sm-6">
                            <div class="form-group contact-search m-b-0">
                                <input type="text" (change)="onInputChange($event)"  name="filterText" class="form-control product-search" placeholder="Search here...">
                                <button type="button" class="btn btn-white"><i class="fa fa-search"></i></button>
                            </div> 
                    </div>

                    <div class="col-sm-6">
                        <div class="h5 m-0 text-right">
                            <label class="vertical-middle m-r-10">Sort By:</label>
                            <div class="btn-group vertical-middle" data-toggle="buttons">
                                 <label class="btn btn-default btn-md waves-effect active">
                                    <input type="radio" autocomplete="off" checked=""> Status
                                 </label>
                                 <label class="btn btn-default btn-md waves-effect">
                                    <input type="radio" autocomplete="off"> Type
                                 </label>
                                 <label class="btn btn-default btn-md waves-effect">
                                    <input type="radio" autocomplete="off"> Name
                                 </label>
                            </div>
                        </div>
                    </div>             

                </div>

                <div class="button-list">
                    <button (click)="openModal()" type="button" class="btn btn-primary btn-rounded waves-effect waves-light">Add New Cv</button>
                </div>
                <div class="row cruds">
                    <div class="m-b-15">
                        <div *ngFor="let item of filteredStory"  class="col-lg-3">
                   <!-- blog content -->
                   <div class="blog-box-one">
                    <div class="cover-wrapper">
                        <div class="product-action">
                            <a (click)="EditModal(item)" class="btn btn-success btn-sm"><i class="md md-mode-edit"></i></a>
                            <a (click)="openModalDelete(item)" class="btn btn-danger btn-sm"><i class="md md-close"></i></a>
                        </div>
                    </div>
                
                    <div class="post-info">
                        <div class="date">
                            <span class="day">{{item.storyDate | date : "d"}}</span><br>
                            <span class="month">{{item.storyDate | date : "MMM"}}</span>
                        </div>
                
                        <div class="meta-container">
                            <a href="#">
                                <h4 class="text-overflow m-t-0">{{item.name|slice:0:50}}</h4>
                            </a>
                            <div class="font-13">
                            </div>
                        </div>
                
                        <p class="text-muted m-b-0">
                            {{item.experienceInformation.companyName}}
                        </p>
                
                        <div class="row m-t-10">
                            <div class="col-xs-6">
                                <div class="m-t-8 blog-widget-action">
                                    <a (click)="EditModal(item)" class="btn btn-flickr btn-sm">
                                        <i class="md md-mode-edit"></i> <span></span>
                                    </a>
                                    <a (click)="openModalDelete(item)" class="btn btn-danger btn-sm">
                                        <i class="md md-close"></i> <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div><!-- end blog -->
                        </div>
                    </div>
                
                </div>

            </div> <!-- container -->
            <!-- <app-pagination class="mb-2" (pageChange)="pageChange($event)"
            [pageNumber]="FormStory.getRawValue().pageNumber" [pageSize]="FormStory.getRawValue().pageSize"
            [total]="TotalStories">
            </app-pagination> -->

                        <!-- <mat-paginator [pageNumber]="FormStory.getRawValue().pageNumber"  (page)="pageChange($event)"  [pageSize]="FormStory.getRawValue().pageSize" ></mat-paginator> -->
        </div> <!-- content -->

        <footer class="footer text-right">
            © 2016. All rights reserved.
        </footer>

    </div>
    
    
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


</div>

<!-- END wrapper -->
