<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page sideMenuMax sideMenuMin">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-group pull-right m-t-15">
                        <button type="button" class="btn btn-default dropdown-toggle waves-effect"
                            data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i
                                    class="fa fa-cog"></i></span></button>
                        <ul class="dropdown-menu drop-menu-right" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <h4 class="page-title">Control Pannel</h4>
                    <p class="text-muted page-title-alt">Welcome to Admin Pannel !</p>
                </div>
            </div>

            <div class="row hover">
                <div class="col-lg-3 col-sm-6">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title>Shiba Inu</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <p>This card indeterminates progress bar.</p>
                          <p></p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
                <div [routerLink]="['/Posts/Story']" class="col-lg-3 col-sm-6">
                    <div class="widget-panel widget-style-2 bg-white">
                        <i class="md md-account-child text-custom"></i>
                        <h2 class="m-0 text-dark counter font-600"></h2>
                        <div class="text-muted m-t-5">Users</div>
                    </div>
                </div>
            </div>

        </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer text-right">
        © 2016. All rights reserved.
    </footer>

</div>


<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->